/** {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

*{
    font-family: 'Lato', sans-serif;
}

/*@media only screen and (max-width: 500px) {
    p{
        display: none;
    }
}*/

.grid {
    //margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}

.row {
    width: 100%;
     //margin-bottom: 20px;
    display: flex;
}

.title{
    padding-left: 400;
}
.sakla{
    text-align: center;
    padding-bottom: 30;   
}

.smallTitle{
    padding-left: 10;
    padding-top: 15;
}

.designation{
    padding-left: 420;
}
.login{
    padding-left: 555;
}
.SignUp{
    padding-left: 0;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-4cen {
    width: 33.33%;
    text-align: center
}

.col-5 {
    width: 41.66%;
}

.col-6cen {
    width: 50%;
    text-align: center;
     padding-top: 30;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-12cen {
    width: 100%;
    text-align: center  
}

.col-pizz {
    width: 50%;
    margin-top: 200;
    margin-left: -75;
    text-align: center  
}
.col-pizz_label {
    width: 50%;
    margin-left: -75;
    text-align: center  
}

.col-ladd {
    width: 50%;
    text-align: center  
}
.col-ladd_label {
    width: 50%;
    margin-top: -200;
    text-align: center  
}

.col-cooki {
    width: 50%;
    padding-top: 120;
    padding-left: 200;
    text-align: center  
}
.col-cooki_label {
    width: 50%;
    padding-top: -100;
    padding-left: 200;
    text-align: center  
}
.col-cake {
    width: 50%;
    margin-top:-100;
    padding-left: 200;
    text-align: center  
}

.col-cake_label {
    width: 50%;
    margin-top: -220;
    padding-left: 330;
}